@charset "UTF-8";

textarea{resize: none; background: none;}
 	#inBtn {
 		font-size: 15px; background: rgb(212, 129, 91); color: white;
		padding: 5px 10px 5px 10px; margin:5px;
		border: 0;  border-radius: 7px;
 	}
 	.btn {
 		font-size: 15px; background: rgb(212, 129, 91); color: white; 
		padding: 5px 10px 5px 10px; margin:5px; height: 30px;
		border: 0;  border-radius: 7px;
 	}
 	#bkInsertTable{
 		border-collapse: collapse;
 		text-align: center; width: 80%; margin: 0px 60px;
 		margin-right: auto; margin-left: auto;
 	}
 	
 	#bkInsertTable td{padding: 7px; text-align: left;}
 	
 	#placeTable{
 		border-collapse: collapse;
 		text-align: left; width: 80%; margin: 0px 60px;
 		margin-right: auto; margin-left: auto;
 	}
 	
 	#placeTable th{text-align: center;}
 	
 	.left{ float: left; width: 25%; }
	
	.sideTitle{
		background: rgb(212, 129, 91);
		color: white;
		align-items: center;
		margin: 30px 30px 15px 30px;
		padding: 30px 30px;
	}
	
	.sideButton{
		background: lightgray;
		color: black;
		text-align: center;
		margin: 15px 30px 15px 30px;
		padding: 10px 25px;
	}
	
	.main{ float: right; width: 75%; text-align: center;}
	
	.mainTitle{
		font-weight: 900;
		border-bottom: 2px solid lightgray;
		font-size: 30px;
		margin: 25px 60px 0px 60px;
		padding: 0px 0px 13px 0px;
	}
	
	.mainTitle p{ text-align: left; width: 70%; margin: 0;}

	#titleImg1{ 
		width: 25px; height: auto; vertical-align:middle;
		padding-bottom: 7px;
		margin-right: 10px;
	}
	
	.infoSpace{ margin: 0px 60px 0px 60px; }
	
	#infoTable{
		border-top: 2px solid lightgray;
		border-bottom: 2px solid lightgray;
		border-left: none;
		border-right: none;
		border-collapse: collapse;
		width: 100%;
		font-size:10px;
	}
	
	
	.sideButton{
		text-align: left;
		padding-left : 30px;
		cursor: pointer;
	}
	
	.sideButton a{ color: black; }
	
	#infoImg1 { width: 100%; height: auto; }
	
	.sideButton img{
		width: auto; height: 30px; vertical-align:middle;
		padding-bottom: 7px;
		margin-right: 5px;
	}
	
	.sideButton a{
		display:block;
		color: black;
		padding: 17px 20px;
	}
	
	.sideButton:hover{
		background: gray;
	}
	
	
	input[type=number]{height: 20px; width: 50px;}
	
	input[type=date]{height: 20px; width: 80%;}
	
	#placeTable{
		border-collapse: collapse;
 		width: 80%; margin: 0px 60px;
 		margin-right: auto; margin-left: auto;
	}	
	
	#placeTable td{padding: 5px;}
	
	#placeTable td > input[type=text]{height: 28px;}
	
