@charset "UTF-8";

	.main{ float: right; width: 75%; text-align: center; }
	
	#bkgroupListOuter{margin: 25px 80px 0px 10px; width: 65%; float: right;}
	
	.list{
		margin-left: auto; margin-right: auto; padding: 5px; width: 100%; height: 350px; 
		border-collapse: collapse;
	}
	
	.list td{padding: 5px; border-bottom: 1px solid black;}
	.list th{padding: 5px; border-bottom: 1px solid black;}
	.bkgroupListDiv{display: inline-block; padding: 20px; margin: auto; width: 270px; }
	
	textarea{resize: none; background: none;}
	
	
	.img{width: 165px; height: 220px;}
	.bkImg{width: 165px; height: 220px;}
	em{
		position: absolute; z-index: 2;
		font-style: normal; width: 166px; 
		background: rgba(0, 0, 0, .4); 
		color: white; text-align: center; line-height: 220px;
		display: table-cell; margin-left: 48px;
	}
	.left{ float: left; width: 25%; }
	
	.sideTitle{
		background: rgb(212, 129, 91);
		color: white;
		align-items: center;
		margin: 30px 30px 15px 30px;
		padding: 30px 30px;
	}
	
	#boTab{float: left; width: 100%; text-align: center; }
	
	#wirteBtn{
		font-size: 15px; background: rgb(212, 129, 91); color: white; 
		padding: 5px 10px 5px 10px; margin:5px; width: 100px;
		border: 0;  border-radius: 7px;
	}
	
@media screen and (max-width: 720px){
	#searchDiv{
		flex-direction: column;
	}
	
	#searchTable td{
		font-size: 15px; font-weight: 600;
		padding: 10px 15px;
	}
	
	#bksearchBtn{ margin-left: 15px; margin-bottom: 15px; width: 90%; }
}
	
	.sideButton{
		background: lightgray;
		color: black;
		text-align: center;
		margin: 15px 30px 15px 30px;
		padding: 10px 25px;
	}
	
	.main{ float: right; width: 75%; text-align: center; }
	
	.mainTitle{
		font-weight: 900;
		border-bottom: 2px solid lightgray;
		font-size: 30px;
		margin: 25px 60px 0px 60px;
		padding: 0px 0px 13px 0px;
	}
	
	.mainTitle p{ text-align: left; width: 70%; margin: 0;}

	#titleImg1{ 
		width: auto; height: 30px; vertical-align:middle;
		padding-bottom: 7px;
		margin-right: 10px;
	}
	
	.infoSpace{ margin: 0px 60px 0px 60px; }
	
	#infoTable{
		border-top: 2px solid lightgray;
		border-bottom: 2px solid lightgray;
		border-left: none;
		border-right: none;
		border-collapse: collapse;
		width: 100%;
		font-size:10px;
	}
	
	
	.sideButton{
		text-align: left;
		padding-left : 30px;
		cursor: pointer;
	}
	
	.sideButton a{ color: black; }
	
	#infoImg1 { width: 100%; height: auto; }
	
	.sideButton img{
		width: auto; height: 30px; vertical-align:middle;
		padding-bottom: 7px;
		margin-right: 5px;
	}
	
	.sideButton a{
		display:block;
		color: black;
		padding: 17px 20px;
	}
	
	.sideButton:hover{
		background: gray;
	}
	
	#searchDiv{
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 25px 60px 0px 60px;
		background: lightgray;
		text-align: center;
	}
	
	#searchTable{ margin: 10px; width: 100%; }
	
	#searchTable td{
		font-size: 15px; font-weight: 600;
		padding: 10px 5px;
	}
	
	#searchTable td input{
		font-size: 15px; width: 100%; height: 27px;
	}
	
	#searchTable td select{
		font-size: 15px; width: 100%; height: 27px;
	}
	
	#bksearchBtn{
		display: flex;
		justify-content: center;
		background: rgb(94, 94, 94); color: white;
		border: none;
		font-weight: 700;
		padding: 5px 0px;
		border-radius: 5px;
		height: 30px;
		width: 120px;
		margin-right: 15px;
	}
	
	#bksearchBtn:hover{
		background: rgba(94, 94, 94, 0.5); cursor: pointer;
	}
	
	.pageBtn{ 
		display: inline-block;
		background: rgb(244, 244, 244); width: 30px; line-height: 30px;	
		text-align: center; border-radius: 2px; 
	}
	
	.pageBtn:hover{ 
		background: lightgray;
	}
	
	.currentpageBtn{ 
		display: inline-block;
		background: rgb(212, 129, 91); color: white; text-align: center; 
		width: 30px; line-height: 30px;  border-radius: 2px;
	}
	