@charset "UTF-8";

	.left{ float: left; width: 25%; }
	
	.sideTitle{
		background: rgb(212, 129, 91);
		color: white;
		align-items: center;
		margin: 30px 30px 15px 30px;
		padding: 30px 30px;
	}
	
	.sideButton{
		background: lightgray;
		color: black;
		text-align: center;
		margin: 15px 30px 15px 30px;
		padding: 10px 25px;
	}
	
	.main{ float: right; width: 75%; text-align: center; }
	
	.mainTitle{
		font-weight: 900;
		border-bottom: 2px solid lightgray;
		font-size: 30px;
		margin: 25px 60px 0px 60px;
		padding: 0px 0px 13px 0px;
	}
	
	.mainTitle p{ text-align: left; width: 70%; margin: 0;}

	#titleImg1{ 
		width: auto; height: 30px; vertical-align:middle;
		padding-bottom: 7px;
		margin-right: 10px;
	}
	
	.infoSpace{ margin: 0px 60px 0px 60px; }
	
	#mpTable{
		border: 1px solid rgb(204, 204, 204);
		border-collapse: collapse;
		width: 100%;
		font-size:13px;
	}
	
	#mpTable td{
		border: 1px solid rgb(204, 204, 204);
		border-collapse: collapse;
		padding: 10px 5px;
	}
	
	#mpTable th{
		border: 1px solid lightgray;
		border-collapse: collapse;
		padding: 10px 5px;
		background: rgb(224, 224, 224);
	}
	
	.sideButton{
		text-align: left;
		padding-left : 30px;
		cursor: pointer;
	}
	
	.sideButton a{ color: black; }
	
	#infoImg1 { width: 100%; height: auto; }
	
	.sideButton img{
		width: auto; height: 30px; vertical-align:middle;
		padding-bottom: 7px;
		margin-right: 5px;
	}
	
	.sideButton a{
		display:block;
		color: black;
		padding: 17px 20px;
	}
	
	.sideButton:hover{ background: gray; }
	
	.cancelBtn { 
		background: rgb(94, 94, 94); color: white;
		border: none;
		font-weight: 700;
		padding: 5px 6%;
		border-radius: 5px;
	}
	.cancelBtn:hover {
		background: rgba(94, 94, 94, 0.5); color: white;
		cursor:pointer;
	}
	
@media screen and (max-width: 1035px){

}