@charset "UTF-8";

body {
	margin: 0;
}

a {
	text-decoration: none;
}

#header {
	font-weight: bold;
	background-color: rgb(212, 129, 91);
	font-size: 10px;
	color: white;
}

.wrapper {
	width: 100%;
	min-height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 15px;
	font-weight: 900;
	margin-left: 60px;
	color: black;
}

.lists {
	display: flex;
	margin-right: 60px;
}

.lists li {
	list-style-type: none;
}

.lists li a {
	color: white;
	padding: 10px 20px;
}

.lists li a:hover {
	background: rgb(159, 101, 74);
}

#top {
	font-weight: bold;
	border-bottom: 2px solid lightgray;
	font-size: 13px;
}

#topWrapper {
	min-height: 50px;
}

.topLists {
	display: flex;
	margin-right: 60px;
	margin-top: 0;
	margin-bottom: 0;
}

.topLists li {
	list-style-type: none;
}

.topLists li a {
	display: block;
	color: black;
	padding: 17px 20px;
}

.topLists li a:hover {
	background: rgba(212, 129, 91, 0.5);
	color: white;
}

.toggleBtn {
	display: none;
}

.left {
	float: left;
	width: 25%;
}

.sideTitle {
	background: rgb(212, 129, 91);
	color: white;
	align-items: center;
	margin: 30px 30px 15px 30px;
	padding: 30px 30px;
}

.sideButton {
	background: lightgray;
	color: black;
	text-align: center;
	margin: 15px 30px 15px 30px;
	padding: 10px 25px;
}

.main {
	float: right;
	width: 75%;
	text-align: center;
	padding-top: 100px;
}

.mainTitle {
	font-weight: 900;
	border-bottom: 2px solid lightgray;
	font-size: 30px;
	margin: 25px 60px 0px 60px;
	padding: 0px 0px 13px 0px;
}

.mainTitle p {
	text-align: left;
	width: 70%;
	margin: 0;
}

#titleImg1 {
	width: 25px;
	height: auto;
	vertical-align: middle;
	padding-bottom: 7px;
	margin-right: 10px;
}

.infoSpace {
	margin: 0px 60px 0px 60px;
}

#infoTable {
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	border-left: none;
	border-right: none;
	border-collapse: collapse;
	width: 100%;
	font-size: 10px;
}

td {
	border: 1px solid lightgray;
	border-left: none;
	border-right: none;
	border-collapse: collapse;
	padding: 10px 25px;
}

.sideButton {
	text-align: left;
	padding-left: 30px;
	cursor: pointer;
}

.sideButton a {
	color: black;
}

#infoImg1 {
	width: 100%;
	height: auto;
}

.sideButton img {
	width: auto;
	height: 30px;
	vertical-align: middle;
	padding-bottom: 7px;
	margin-right: 5px;
}

.sideButton a {
	display: block;
	color: black;
	padding: 17px 20px;
}

.sideButton:hover {
	background: gray;
}

.toggle-size {
	display: flex;
	color: white;
	background-color: rgb(224, 224, 224);
	width: 200px;
	height: 60px;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
}

.toggle-active {
	background-color: rgb(212, 129, 91);
}

#toggleBooks {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#bookList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 2em;
	margin-right: 2em;
	padding-bottom: 50px;
	width: 100%;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
	column-gap: 10px;
}

.bookItem {
	width: 100%;
	height: auto;
}

.bookImage {
	width: 10%;
	display: inline-block;
	float: left;
}

.infoArea {
	display: inline-block;
}

#searchArea {
	padding: 30px;
}

.titleArea {
	display: flex;
}

.title {
	display: block;
	margin: 1em 5em 0.9em 5em;
	font-weight: bolder;
	font-size: 1.563em;
	line-height: 1.2;
	color: #333;
	text-align: left;
}

#bookCategory {
	background-color: lightgray;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	padding: 0px 0.5em;
	margin-right: 10px;
}

#bookCategory #bookTitle {
	display: inline;
}

.detailWrapper {
	clear: both;
	padding: 2rem 0rem;
}

#bookDetailTitle {
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
}

#bookDetail {
	text-align: left;
}

.clickme {
	text-align: left;
	padding: 2.5em 0em 0em 8em;
	cursor: pointer;
}

.answer {
	text-align: left;
	padding: 0em 0em 0em 8em;
}

.qHead {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color: white;
	border-radius: 50%;
	background-color: rgb(212, 129, 91);
	line-height: 38px;
	cursor: pointer;
}

.qHead:hover {
	cursor: pointer;
}

#bContent {
	resize: none;
}

#contents {
	padding-bottom: 5em;
}

.buttons {
	background-color: rgb(212, 129, 91);
	border: none;
	color: #fff;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 5px;
	align: center;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.board-upload table th {
	text-align: left;
}

#writeTable td{
	padding: 5px;
}

#questionButtons, #answerButtons {
	position:relative;
	right: 50px;
}

#aTitle {
	margin: 0px;
}

@media screen and (max-width: 1035px) {
	#topWrapper {
		align-items: flex-start;
		padding: 8px 24px;
		min-height: 20px;
	}
	.topLists {
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.logo {
		white-space: nowrap;
	}
	.topLists li, .topLists li a {
		text-align: center;
		width: 100%;
		margin-right: 150px;
	}
	.toggleBtn {
		display: block;
		position: absolute;
		right: 45px;
		border: none;
		background: none;
		align-items: center;
	}
	.topLists.active {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 26px 60px 0px 0px;
	}
	.left {
		display: none;
	}
	.main {
		width: 100%;
	}
}