@charset "UTF-8";

	
	.left{ float: left; width: 25%; }
	
	.sideTitle{
		background: rgb(212, 129, 91);
		color: white;
		align-items: center;
		margin: 30px 30px 15px 30px;
		padding: 30px 30px;
	}
	
	.sideButton{
		background: lightgray;
		color: black;
		text-align: center;
		margin: 15px 30px 15px 30px;
		padding: 10px 25px;
	}
	
	.main{ float: right; width: 75%; text-align: center; }
	
	.mainTitle{
		font-weight: 900;
		border-bottom: 2px solid lightgray;
		font-size: 30px;
		margin: 25px 60px 0px 60px;
		padding: 0px 0px 13px 0px;
	}
	
	.mainTitle p{ text-align: left; width: 70%; margin: 0;}

	#titleImg1{ 
		width: 25px; height: auto; vertical-align:middle;
		padding-bottom: 7px;
		margin-right: 10px;
	}
	
	#boardList{
		align-items: center;
		justify-content: center;
		margin: 25px 60px 0px 60px;
		text-align: center;
	}

	#boardListTable{
	margin: 10px; width: 99%; 
	}

	#btntable{
	margin: 10px; width: 99%; 
	}	
	
	
	#searchDiv{
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 25px 60px 0px 60px;
		background: lightgray;
		text-align: center;
	}
	
	#searchTable{ margin: 10px; width: 100%; }
	
	#searchTable td{
		font-size: 15px; font-weight: 600;
		padding: 10px 5px;
	}
	
	#searchTable td input{
		font-size: 15px; width: 100%; height: 27px;
	}
	
	#searchTable td select{
		font-size: 15px; width: 100%; height: 27px;
	}
	
	#searchBtn{
		display: flex;
		justify-content: center;
		background: rgb(94, 94, 94); color: white;
		border: none;
		font-weight: 700;
		padding: 5px 0px;
		border-radius: 5px;
		height: 30px;
		width: 120px;
		margin-right: 15px;
	}
	
	#searchBtn:hover{
		background: rgba(94, 94, 94, 0.5); cursor: pointer;
	}
	
	.infoSpace{ margin: 0px 60px 0px 60px; }
	
	#infoTable{
		border-top: 2px solid lightgray;
		border-bottom: 2px solid lightgray;
		border-left: none;
		border-right: none;
		border-collapse: collapse;
		width: 100%;
		font-size:10px;
	}
	
	#boardListTable td{
		border: 1px solid lightgray;
		border-left: none;
		border-right: none;
		border-collapse: collapse;
		padding: 10px 25px;
	}
	
	.sideButton{
		text-align: left;
		padding-left : 30px;
		cursor: pointer;
	}
	
	.sideButton a{ color: black; }
	
	#infoImg1 { width: 100%; height: auto; }
	
	.sideButton img{
		width: auto; height: 30px; vertical-align:middle;
		padding-bottom: 7px;
		margin-right: 5px;
	}
	
	.sideButton a{
		display:block;
		color: black;
		padding: 17px 20px;
	}
	
	.sideButton:hover{
		background: gray;
	}
	
	
	#write{
        font-size: 15px; background: rgb(212, 129, 91); color: white; 
        padding: 5px 10px 5px 10px; margin:5px; width: 100px;
        border: 0;  border-radius: 7px;
    }
    
    
	.pagingArea { 
		display: inline-block; width: 100%;
		font-size: 13px; margin-top: 20px; margin-bottom: 20px;
	}
	
	.pageBtn{ 
		display: inline-block;
		background: rgb(244, 244, 244); width: 30px; line-height: 30px;	
		text-align: center; border-radius: 2px; 
	}
	
	.pageBtn:hover{ 
		background: lightgray;
	}
	
	.currentpageBtn{ 
		display: inline-block;
		background: rgb(212, 129, 91); color: white; text-align: center; 
		width: 30px; line-height: 30px;  border-radius: 2px;
	}
	
  	a{
  		text-decoration: none;
  		color: black;
  	}
    
@media screen and (max-width: 1035px){
	#topWrapper{
		align-items: flex-start;
		padding: 8px 24px;
		min-height: 20px;
	}
	
	.topLists{
		display:none;
		flex-direction: column;
		align-items:center;
		width: 100%;
	}
	
	.logo { white-space: nowrap;}
	
	.topLists li, .topLists li a{ text-align:center; width: 100%; margin-right: 150px;}
	
	.toggleBtn{
		display:block;
		position: absolute;
		right: 45px;
		border: none;
		background: none;
		align-items: center;
	}
	
	.topLists.active{ 
		display: flex;
		flex-direction: column;
		align-items:center;
		width: 100%;
		margin: 26px 60px 0px 0px;
	}
	
	.left{ display: none; }
	.main{ width: 100%; }
	
}

    .left {
        text-align : left;
}

	#write{	
			background: rgb(212, 129, 91); 
			color: white; 
			font-weight: bold; 
			padding: 5px; margin:5px;
			border: 0; border-radius: 7px; 
			width: 80px;
}

