@charset "UTF-8";
	
	.left{ float: left; width: 25%; }
	
	.sideTitle{
		background: rgb(212, 129, 91);
		color: white;
		align-items: center;
		margin: 30px 30px 15px 30px;
		padding: 30px 30px;
	}
	
	.sideButton{
		background: lightgray;
		color: black;
		text-align: center;
		margin: 15px 30px 15px 30px;
		padding: 10px 25px;
	}
	
	.main{ float: right; width: 75%; text-align: center; }
	
	.mainTitle{
		font-weight: 900;
		border-bottom: 2px solid lightgray;
		font-size: 30px;
		margin: 25px 60px 0px 60px;
		padding: 0px 0px 13px 0px;
	}
	
	.mainTitle p{ text-align: left; width: 70%; margin: 0;}

	#titleImg1{ 
		width: 25px; height: auto; vertical-align:middle;
		padding-bottom: 7px;
		margin-right: 10px;
	}
	
	.infoSpace{ margin: 0px 60px 0px 60px; }
	
	#infoTable{
		border-top: 2px solid lightgray;
		border-bottom: 2px solid lightgray;
		border-left: none;
		border-right: none;
		border-collapse: collapse;
		width: 100%;
		font-size:10px;
	}
	
	
	.sideButton{
		text-align: left;
		padding-left : 30px;
		cursor: pointer;
	}
	
	.sideButton a{ color: black; }
	
	#infoImg1 { width: 100%; height: auto; }
	
	.sideButton img{
		width: auto; height: 30px; vertical-align:middle;
		padding-bottom: 7px;
		margin-right: 5px;
	}
	
	.sideButton a{
		display:block;
		color: black;
		padding: 17px 20px;
	}
	
	.sideButton:hover{
		background: gray;
	}
	

/*수정 삭제 목록 버튼*/
	#button1{	
			background: rgb(212, 129, 91); 
			color: white; 
			font-weight: bold; 
			padding: 5px; margin:5px;
			border: 0; border-radius: 7px; 
			width: 80px;
}
	
	#button2{
			background: rgb(153, 153, 153); 
			color: white; 
			font-weight: bold; padding: 5px; margin:5px;
			border: 0; border-radius: 7px; width: 80px;
}

	#button3{	
			background: rgb(212, 129, 91); 
			color: white; 
			font-weight: bold; 
			padding: 5px; margin:5px;
			border: 0; border-radius: 7px; 
			width: 80px;
}

	#cSubmit{	
			background: rgb(212, 129, 91); 
			color: white; 
			font-weight: bold; 
			padding: 5px; margin:5px;
			border: 0; border-radius: 7px; 
			width: 80px;
}


	#btntable{
			margin-left: auto;
			margin-right: auto;	
}


/*댓글*/

	.replyWriterArea{
		display: flex;
		flex-direction: column;
		align-items:center;
}
	
	#rtb{
			width: 73%; 
			border-collapse: collapse;
			margin-left: auto;
			margin-right: auto;
		
}

	#replytable{
			width: 73%; 
			border-collapse: collapse;
			margin-left: auto;
			margin-right: auto;
			
	}

	#replytable td{
			
		
	}
	
	#rtb td{
		padding: 5px;
	}
	

/*내용*/	


	.tableArea{
			margin: 0px 60px;
			align-items: center;
}



	#dtable{
			width: 80%; 
			border: 1px solid lightgray;
			border-collapse: collapse;
			margin-left: auto;
			margin-right: auto;
}
	
	#dtable th{
			padding: 5px;
			border: 1px solid lightgray;
			border-collapse: collapse;
}
	
	#dtable td{
			padding: 5px;
			border: 1px solid lightgray;
			border-collapse: collapse;		
}
	
	
	
	
@media screen and (max-width: 1035px){
	#topWrapper{
		align-items: flex-start;
		padding: 8px 24px;
		min-height: 20px;
	}
	
	.topLists{
		display:none;
		flex-direction: column;
		align-items:center;
		width: 100%;
	}
	
	.logo { white-space: nowrap;}
	
	.topLists li, .topLists li a{ text-align:center; width: 100%; margin-right: 150px;}
	
	.toggleBtn{
		display:block;
		position: absolute;
		right: 45px;
		border: none;
		background: none;
		align-items: center;
	}
	
	.topLists.active{ 
		display: flex;
		flex-direction: column;
		align-items:center;
		width: 100%;
		margin: 26px 60px 0px 0px;
	}
	
	.left{ display: none; }
	.main{ width: 100%; }
	
}


