<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookMapper">
	<select id="getBookListCount" resultType="_int">
		select count(*)
		from books
		where b_status='Y' and entry_date >= ADD_MONTHS(SYSDATE, -1)
	</select>
	
	<select id="getBookList" resultMap="bookResultSet">
		select * 
		from books
		left join files using(books_no)
		where b_status= 'Y' and file_level = 0 and entry_date >= ADD_MONTHS(SYSDATE, -1)
		order by books_no desc
	</select>
	
	<select id="getSearchResultListCount" parameterType="com.kh.klib.books.model.vo.SearchCondition" resultType="_int" >
		select count(*) 
		from books
		join files using(books_no)
		<where>
		b_status= 'Y' and file_level = 0
		<if test="writer != null" >
		and books_writer like '%' || #{writer} || '%'
		</if>
		<if test="title != null" >
		and book_title like '%' || #{title} || '%' 
		</if>
		<if test="company !=null" >
		and books_company = #{company}
		</if>
		<if test="content != null" >
		and books_content like '%' || #{writer} || '%'
		</if>
		</where>
		
	</select>
	
	<select id="selectSearchResultList" parameterType="com.kh.klib.books.model.vo.SearchCondition" resultMap="bookResultSet" >
		select * 
		from books
		join files using(books_no)
		<where>
		b_status= 'Y' and file_level = 0
		<if test="writer != null" >
		and books_writer like '%' || #{writer} || '%'
		</if>
		<if test="title != null" >
		and book_title like '%' || #{title} || '%' 
		</if>
		<if test="company !=null" >
		and books_company = #{company}
		</if>
		<if test="content != null" >
		and books_content like '%' || #{writer} || '%'
		</if>
		</where>
		order by books_no desc		
	</select>
	
	<select id="selectBook" parameterType="_int" resultMap="bookResultSet">
		select *
		from books
		join files using(books_no)
		where b_status = 'Y' and books_no = #{bNo}
	</select>
	<select id="selectBookRecommendCount" resultType="_int">
		select count(*)
		from books
		where b_status='Y' and b_recommend = 'Y'
	</select>
	
	<select id="selectRecommendResultList" resultMap="bookResultSet">
		select * 
		from books
		left join files using(books_no)
		where  b_status= 'Y' and b_recommend = 'Y'
	</select>
	
	<resultMap type="Books" id="bookResultSet">
		<id column="BOOKS_NO" property="bNo" />
		<result column="BOOK_TITLE" property="bTitle" />
		<result column="BOOKS_WRITER" property="bWriter" />
		<result column="BOOKS_COMPANY" property="bCompany" />
		<result column="BOOKS_DATE" property="bDate" />
		<result column="BOOKS_CONTENT" property="bContent" />
		<result column="B_RECOMMEND" property="bRecommend" />
		<result column="ENTRY_DATE" property="entryDate" />
		<result column="ORIGIN_NAME" property="originFileName" />
		<result column="CHANGE_NAME" property="renameFileName" />
		<result column="BOOKS_FORM" property="bForm" />
		<result column="BOOKS_STANDARD_NO" property="bStandardNo" />
		<result column="BOOKS_CALL_NO" property="bCallNo" />
	</resultMap>
</mapper>
